<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>https://download1322.mediafire.com/0xfledw7i6qgU05kUZInILp6ZpVzGYuoTKrvOC8ym2lVzfhet8NAU85KKd_dRO8n3aTC4rdCENFcaoajUMLfc-BoF0c-/207y3t6d0vko8sl/jodelemad.ipa</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>com.appvalley.onlyfans</string>
					<key>bundle-version</key>
					<string>1</string>
					<key>kind</key> 
					<string>software</string>
					<key>title</key>
					<string>برامج بلس من متجر عماد تابعونا @emad1saleh@</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
